/* Add a black background color to the top navigation */
* {
    box-sizing: border-box;
    background-color: #555;
    padding: 0;
    margin: 0;
}
.topnav {
    display: flex;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    background-color: black;
    border-radius: 10px;

}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: black;
    color: white;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    color: #555;
}
