@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

* {
  margin: 0;
  font-family: Noto Sans Mono;
  text-decoration: none;
}

section {
  margin-top: 43px;
  width: 100%;
  height: 1000px;
  float: left;
}

nav {
  position: fixed;
  top: 0px;
  /* z-index: 1; */
  width: 100%;
  padding-bottom: 10px;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  width: fit-content;
  margin: auto;
  list-style: none;
}

ul li {
  float: left;
  margin-right: 40px;
}

ul li a {
  color: white;
}
ul li a:hover {
  color: #555;
}

h1{
  text-align: center;
  margin-top: 400px;
  padding: auto;
}
h2{
  text-align: center;
}
